# Database 설정
DB_HOST=localhost
DB_PORT=5432
DB_NAME=mydb
DB_USER=myuser
DB_PASS=mypassword

# 크롤링 설정
TARGETS_FILE=targets_example.csv
HEAD_MODE=

# 카카오 연동 설정 (위/경도 탐색)
KAKAO_API_KEY=your_kaokao_rest_api_key_here
